@page "/Producto/Nuevo"
@inject HttpClient http
@inject NavigationManager navegator
@using Actividad_18.Shared.Models

<h3>Nuevo Producto</h3>
<EditForm Model="pro" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="txtNombre" class="form-label">Nombre</label>
        <InputText id="txtNombre" class="form-control" @bind-Value="pro.nombre" />
    </div>
    <div class="mb-3">
        <label for="txtPrecio" class="form-label">Precio</label>
        <InputNumber id="txtPrecio" class="form-control" @bind-Value="pro.precio" />
    </div>
    <div class="mb-3">
        <label for="txtExistencia" class="form-label">Existencia</label>
        <InputNumber id="txtExistencia" class="form-control" @bind-Value="pro.existencias" />
    </div>
    <div class="mb-3">
        <label for="txtIdTicket" class="form-label">Id Ticket</label>
        <InputNumber id="txtIdTicket" class="form-control" @bind-Value="pro.TicketsId" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</EditForm>


@code {
    private Productos pro = new Productos();
    private async void Guardar()
    {
        await http.PostAsJsonAsync("api/Productos", pro);
        navegator.NavigateTo("/producto");
    }
}

